[View in Colaboratory](https://colab.research.google.com/github/ricks7er/CienciaDatos/blob/master/groupby.ipynb)

Taller GROUPBY

Diego Alejandro Correa Ramirez - 20141020021
Jose Ortega Ramirez - 20142020007

In [0]:
import pandas as pd
import dateutil
data = pd.read_csv('C:\Users\Estudiantes\Music\phone_data.csv')
data['date'] = data['date'].apply(dateutil.parser.parse, dayfirst=True)
display(data)

,index,date,duration,item,month,network,network_type
0,0,2014-10-15 06:58:00,34.429,data,2014-11,data,data
1,1,2014-10-15 06:58:00,13.000,call,2014-11,Vodafone,mobile
2,2,2014-10-15 14:46:00,23.000,call,2014-11,Meteor,mobile
3,3,2014-10-15 14:48:00,4.000,call,2014-11,Tesco,mobile
4,4,2014-10-15 17:27:00,4.000,call,2014-11,Tesco,mobile
5,5,2014-10-15 18:55:00,4.000,call,2014-11,Tesco,mobile
6,6,2014-10-16 06:58:00,34.429,data,2014-11,data,data
7,7,2014-10-16 15:01:00,602.000,call,2014-11,Three,mobile
8,8,2014-10-16 15:12:00,1050.000,call,2014-11,Three,mobile
9,9,2014-10-16 15:30:00,19.000,call,2014-11,voicemail,voicemail
10,10,2014-10-16 16:21:00,1183.000,call,2014-11,Three,mobile
11,11,2014-10-16 22:18:00,1.000,sms,2014-11,Meteor,mobile
12,12,2014-10-16 22:21:00,1.000,sms,2014-11,Meteor,mobile
13,13,2014-10-17 06:58:00,34.429,data,2014-11,data,data
14,14,2014-10-17 10:53:00,1.000,sms,2014-11,Tesco,mobile
15,15,2014-10-17 11:19:00,1.000,sms,2014-11,Tesco,mobile
16,16,2014-10-17 11:20:00,1.000,sms,2014-11,Meteor,mobile
17,17,2014-10-17 17:22:00,1.000,sms,2014-11,Vodafone,mobile
18,18,2014-10-17 17:23:00,1.000,sms,2014-11,Vodafone,mobile
19,19,2014-10-17 17:26:00,92.000,call,2014-11,Three,mobile
20,20,2014-10-17 17:29:00,4.000,call,2014-11,Vodafone,mobile
21,21,2014-10-17 17:30:00,375.000,call,2014-11,Tesco,mobile
22,22,2014-10-17 17:42:00,1.000,sms,2014-11,Vodafone,mobile
23,23,2014-10-17 17:44:00,1.000,sms,2014-11,Vodafone,mobile
24,24,2014-10-17 17:44:00,1.000,sms,2014-11,Vodafone,mobile
25,25,2014-10-17 17:44:00,1.000,sms,2014-11,Vodafone,mobile
26,26,2014-10-18 06:58:00,34.429,data,2014-11,data,data
27,27,2014-10-18 11:51:00,783.000,call,2014-11,Tesco,mobile
28,28,2014-10-18 12:06:00,4.000,call,2014-11,Vodafone,mobile
29,29,2014-10-18 12:06:00,3.000,call,2014-11,Vodafone,mobile
...,...,...,...,...,...,...,...
800,800,2015-03-02 14:53:00,2.000,call,2015-03,voicemail,voicemail
801,801,2015-03-02 14:54:00,93.000,call,2015-03,voicemail,voicemail
802,802,2015-03-02 17:35:00,192.000,call,2015-03,Meteor,mobile
803,803,2015-03-02 20:48:00,34.000,call,2015-03,Tesco,mobile
804,804,2015-03-03 06:58:00,34.429,data,2015-03,data,data
805,805,2015-03-03 09:57:00,76.000,call,2015-03,landline,landline
806,806,2015-03-03 09:59:00,355.000,call,2015-03,Three,mobile
807,807,2015-03-03 10:12:00,745.000,call,2015-03,Vodafone,mobile
808,808,2015-03-03 10:27:00,57.000,call,2015-03,Vodafone,mobile
809,809,2015-03-03 14:34:00,1325.000,call,2015-03,Vodafone,mobile
810,810,2015-03-03 18:36:00,768.000,call,2015-03,Three,mobile
811,811,2015-03-04 06:58:00,34.429,data,2015-03,data,data
812,812,2015-03-04 07:02:00,1.000,sms,2015-03,Vodafone,mobile
813,813,2015-03-04 07:16:00,1.000,sms,2015-03,Vodafone,mobile
814,814,2015-03-04 10:30:00,1.000,sms,2015-03,Three,mobile
815,815,2015-03-04 10:30:00,1.000,sms,2015-03,Three,mobile
816,816,2015-03-04 12:29:00,10528.000,call,2015-03,landline,landline
817,817,2015-03-05 06:58:00,34.429,data,2015-03,data,data
818,818,2015-03-06 06:58:00,34.429,data,2015-03,data,data
819,819,2015-03-07 06:58:00,34.429,data,2015-03,data,data
820,820,2015-03-08 06:58:00,34.429,data,2015-03,data,data
821,821,2015-03-09 06:58:00,34.429,data,2015-03,data,data
822,822,2015-03-10 06:58:00,34.429,data,2015-03,data,data
823,823,2015-03-11 06:58:00,34.429,data,2015-03,data,data
824,824,2015-03-12 06:58:00,34.429,data,2015-03,data,data
825,825,2015-03-13 00:38:00,1.000,sms,2015-03,world,world
826,826,2015-03-13 00:39:00,1.000,sms,2015-03,Vodafone,mobile
827,827,2015-03-13 06:58:00,34.429,data,2015-03,data,data
828,828,2015-03-14 00:13:00,1.000,sms,2015-03,world,world
829,829,2015-03-14 00:16:00,1.000,sms,2015-03,world,world

Cual es la llamada de mayor duracion

In [0]:
data[data['item'] == 'call'].max()

index                           816
date            2015-03-04 12:29:00
duration                      10528
item                           call
month                       2015-03
network                   voicemail
network_type              voicemail
dtype: object

Cuál fue el evento de datos de mayor duración?

In [0]:
data[data['item'] == 'data'].max()

index                           827
date            2015-03-13 06:58:00
duration                     34.429
item                           data
month                       2015-03
network                        data
network_type                   data
dtype: object

Cuanto fue el total de segundos de todas las llamadas que se hicieron por la red Tesco?

In [0]:
data['duration'][data['network'] == 'Tesco'].sum()

13841.0

Cuantas entradas de datos hay por cada una de las redes?

In [0]:
data['network'][data['item']=='data'].value_counts()

data    150
Name: network, dtype: int64

Cuantas entradas de llamada hay por cada uno de las redes?

In [0]:
data['network'][data['item']=='call'].value_counts()

Three        128
Tesco         71
Vodafone      66
Meteor        54
landline      42
voicemail     27
Name: network, dtype: int64

Obtener el promedio de llamadas por cada una de las redes?

In [0]:
data[data['item']=='call'].groupby('network')['duration'].mean()

network
Meteor       133.333333
Tesco        194.760563
Three        284.875000
Vodafone     221.530303
landline     438.880952
voicemail     65.740741
Name: duration, dtype: float64

Obtener el promedio de eventos de datos por cada una de las redes?

In [0]:
data[data['item']=='data'].groupby('network')['duration'].mean()

network
data    34.429
Name: duration, dtype: float64

Obtener el número de entradas tipo llamada por cada una de las redes

In [0]:
data[data['item']=='call'].groupby('network')['index'].count()

network
Meteor        54
Tesco         71
Three        128
Vodafone      66
landline      42
voicemail     27
Name: index, dtype: int64

Obtener el número de entradas tipo sms por cada una de las redes

In [0]:
data[data['item']=='sms'].groupby('network')['index'].count()

network
Meteor       33
Tesco        13
Three        87
Vodafone    149
special       3
world         7
Name: index, dtype: int64

Por cada uno de los meses cuántas veces se usaron cada una de las redes (para cualquier evento)

In [0]:
data.groupby(['month', 'network'])['index'].count()

month    network
2014-11  Meteor       23
         Tesco        23
         Three        64
         Vodafone     79
         data         29
         landline      5
         special       1
         voicemail     6
2014-12  Meteor       24
         Tesco        13
         Three        43
         Vodafone     28
         data         30
         landline      7
         voicemail     8
         world         4
2015-01  Meteor       31
         Tesco        15
         Three        59
         Vodafone     55
         data         31
         landline     11
         voicemail     3
2015-02  Meteor        5
         Tesco        22
         Three        33
         Vodafone     30
         data         31
         landline      8
         special       2
         voicemail     6
2015-03  Meteor        4
         Tesco        11
         Three        16
         Vodafone     23
         data         29
         landline     11
         voicemail     4
         world         3
Name: index, dtype: int64

Por cada uno de los meses cuántas veces se usaron cada una de las redes discriminando el tipo de evento

In [0]:
data.groupby(['month', 'network', 'item'])['index'].count()

month    network    item
2014-11  Meteor     call    13
                    sms     10
         Tesco      call    20
                    sms      3
         Three      call    39
                    sms     25
         Vodafone   call    24
                    sms     55
         data       data    29
         landline   call     5
         special    sms      1
         voicemail  call     6
2014-12  Meteor     call    12
                    sms     12
         Tesco      call    12
                    sms      1
         Three      call    30
                    sms     13
         Vodafone   call    10
                    sms     18
         data       data    30
         landline   call     7
         voicemail  call     8
         world      sms      4
2015-01  Meteor     call    21
                    sms     10
         Tesco      call    12
                    sms      3
         Three      call    26
                    sms     33
         Vodafone   call    15
                    sms     40
         data       data    31
         landline   call    11
         voicemail  call     3
2015-02  Meteor     call     4
                    sms      1
         Tesco      call    20
                    sms      2
         Three      call    22
                    sms     11
         Vodafone   call     7
                    sms     23
         data       data    31
         landline   call     8
         special    sms      2
         voicemail  call     6
2015-03  Meteor     call     4
         Tesco      call     7
                    sms      4
         Three      call    11
                    sms      5
         Vodafone   call    10
                    sms     13
         data       data    29
         landline   call    11
         voicemail  call     4
         world      sms      3
Name: index, dtype: int64