[View in Colaboratory](https://colab.research.google.com/github/ricks7er/CienciaDatos/blob/master/Pipes.ipynb)

In [0]:
import numpy as np
import pandas as pd

Taller funciones sobre dataframes

Diego Alejandro Correa Ramirez - 20141020021
Jose Ricardo Ortega Ramirez - 20142020007

Crear un ejemplo de pipe con tres funciones

In [0]:
a = np.random.randint(low=-10, high=10, size=(8,2))
df1= pd.DataFrame(data=a, columns=['C1','C2'])

def f1(df, pow):
    return df**pow

def f2(df):
    return df + df

def f3(df, n):
    return (df/n)

df1.pipe(f1, 5).pipe(f2).pipe(f3,4)

       C1       C2
0  -121.5  29524.5
1  3888.0    512.0
2 -3888.0   3888.0
3   -16.0   1562.5
4 -8403.5   -512.0
5  -512.0  -1562.5
6   121.5     16.0
7 -8403.5    512.0

Calculo del indice de masa corporal

In [0]:
pesos = np.random.randint(low=50, high=90, size=(8))
estaturas = np.random.ranf(8)*1.2 + 1
df2= pd.DataFrame({'Pesos': pesos, 'Estaturas': estaturas})

df2.apply(lambda x: x[1]/(x[0]*x[0]), axis=1)

0    33.549191
1    48.562572
2    19.482144
3    41.176076
4    83.763057
5    38.352255
6    58.304793
7    56.219191
dtype: float64

Valores estadisticos de dataframe: promedio, media, curtosis, desviaci√≥n estandar y varianza

In [0]:
a = np.random.randint(low=-10, high=10, size=(500,5))
df3= pd.DataFrame(data=a, columns=['C1','C2','C3','C4','C5'])

df3.agg(['mean', 'median', 'kurt', 'std', 'var'])

               C1         C2         C3         C4         C5
mean    -0.644000  -0.910000  -0.838000  -0.414000  -0.690000
median  -1.000000  -1.000000  -1.000000   0.000000  -1.000000
kurt    -1.262164  -1.271882  -1.130719  -1.150746  -1.316980
std      5.827279   5.975392   5.649033   5.663458   5.943783
var     33.957178  35.705311  31.911579  32.074754  35.328557

Valor de productos en un a√±o

In [0]:
p1 = np.random.randint(low=150, high=200, size=(12))*10
p2 = np.random.randint(low=100, high=150, size=(12))*10
p3 = np.random.randint(low=150, high=200, size=(12))*10
df4= pd.DataFrame({
    'Chocorramo': p1,
    'Agua cielo': p2,
    'Aguila': p3
})
df4 = df4.T
df4.columns = ['enero','febrero','marzo','abril','mayo' ,'junio' ,'julio' ,'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre']

def dolares(x):
    return x*0.00033
def euros(x):
    return x*0.00029
def libras(x):
    return x*0.00025

df4.transform([dolares, euros, libras])

             enero                 febrero                   marzo          \
           dolares   euros  libras dolares   euros  libras dolares   euros
Agua cielo  0.3993  0.3509  0.3025  0.4290  0.3770  0.3250  0.4224  0.3712
Aguila      0.5841  0.5133  0.4425  0.5511  0.4843  0.4175  0.5643  0.4959
Chocorramo  0.6171  0.5423  0.4675  0.5148  0.4524  0.3900  0.5940  0.5220

                     abril   ...   septiembre octubre                  \
            libras dolares   ...       libras dolares   euros  libras
Agua cielo  0.3200  0.3696   ...       0.2675  0.3960  0.3480  0.3000
Aguila      0.4275  0.5445   ...       0.4475  0.5115  0.4495  0.3875
Chocorramo  0.4500  0.5082   ...       0.4150  0.6501  0.5713  0.4925

           noviembre                 diciembre
             dolares   euros  libras   dolares   euros  libras
Agua cielo    0.3960  0.3480  0.3000    0.4884  0.4292  0.3700
Aguila        0.6204  0.5452  0.4700    0.5313  0.4669  0.4025
Chocorramo    0.5049  0.4437  0.3825    0.6006  0.5278  0.4550

[3 rows x 36 columns]

Conversion de pesos a dolares

In [0]:
df4.applymap(dolares)

,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre
Agua cielo,0.3993,0.4290,0.4224,0.3696,0.3630,0.3300,0.4158,0.3366,0.3531,0.3960,0.3960,0.4884
Aguila,0.5841,0.5511,0.5643,0.5445,0.4950,0.5544,0.5709,0.6270,0.5907,0.5115,0.6204,0.5313
Chocorramo,0.6171,0.5148,0.5940,0.5082,0.6567,0.5181,0.6171,0.6534,0.5478,0.6501,0.5049,0.6006